In [1]:
import numpy as np
import pandas as pd
from itertools import islice
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [2]:
%run ../../src/acc_df.py

In [3]:
Ac = Acc_data('../../data/cleaned/coll_coord.csv')

/Users/franzmornau/g92dsi/capstone/Traffic-Accident-Hotspots-and-Patterns/src/acc_df.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X['ds']=X.ds.apply(lambda x: pd.to_datetime(x))

In [4]:
acc = Ac.get_cleaned_coll()

In [5]:
type(acc['ds'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
acc_ds = acc[['ds','OBJECTID']]

In [7]:
acc_ds.set_index('ds', inplace=True)

In [8]:
acc_ds.head()

                     OBJECTID
ds
2018-08-15 20:00:00         1
2018-08-19 10:47:00         2
2018-08-05 13:06:00         3
2018-08-12 05:00:00         4
2018-08-15 14:27:00         5

In [11]:
acc_ds['2018-08-15']

                     OBJECTID
ds
2018-08-15 20:00:00         1
2018-08-15 14:27:00         5
2018-08-15 13:07:00        22
2018-08-15 14:05:00        33
2018-08-15 16:52:00        58
2018-08-15 14:51:00        78
2018-08-15 16:21:00        86
2018-08-15 09:38:00        89
2018-08-15 00:00:00       884
2018-08-15 20:34:00       913
2018-08-15 09:22:00       923
2018-08-15 19:00:00       925
2018-08-15 17:05:00       937
2018-08-15 00:00:00       967
2018-08-15 10:32:00       970
2018-08-15 16:24:00       977
2018-08-15 18:53:00       999
2018-08-15 17:36:00    196049
2018-08-15 00:00:00    197429
2018-08-15 11:09:00    197448
2018-08-15 10:36:00    197455
2018-08-15 12:09:00    198379
2018-08-15 07:58:00    198392
2018-08-15 21:00:00    203477
2018-08-15 06:37:00    203881
2018-08-15 22:27:00    203903
2018-08-15 21:26:00    203987
2018-08-15 21:26:00    204044
2018-08-15 09:52:00    204289
2018-08-15 00:00:00    204366
2018-08-15 00:00:00    204441
2018-08-15 11:45:00    204451
2018-08-15 17:53:00    204578

In [12]:
acc_ds['2004-01-05':'2004-01-11'].count()

OBJECTID    263
dtype: int64

In [13]:
daily=acc_ds.resample('D').count()
daily.rename({'OBJECTID': 'acc_nr'}, axis=1, inplace=True)

In [14]:
daily['2004-01']

            acc_nr
ds
2004-01-01      26
2004-01-02      78
2004-01-03      21
2004-01-04      17
2004-01-05      26
2004-01-06      66
2004-01-07      34
2004-01-08      29
2004-01-09      47
2004-01-10      42
2004-01-11      19
2004-01-12      45
2004-01-13      47
2004-01-14      67
2004-01-15      48
2004-01-16      31
2004-01-17      28
2004-01-18      25
2004-01-19      26
2004-01-20      26
2004-01-21      31
2004-01-22      32
2004-01-23      54
2004-01-24      33
2004-01-25      20
2004-01-26      28
2004-01-27      28
2004-01-28      53
2004-01-29      50
2004-01-30      38
2004-01-31      53

In [15]:
daily.to_csv('../../data/cleaned/dayseries_04_19.csv')

In [16]:
daily['2004':'2018'].to_csv('../../data/cleaned/dayseries_04_18.csv')

In [17]:
# for the option to predict the whole year 2018
daily['2004':'2017'].to_csv('../../data/cleaned/dayseries_04_17.csv')

In [18]:
# to avoid the the begin of 2004, which is biased
daily['2005':'2018'].to_csv('../../data/cleaned/dayseries_05_18.csv')

In [19]:
daily['2019'].to_csv('../../data/cleaned/dayseries_19.csv')

In [20]:
daily['2018'].to_csv('../../data/cleaned/dayseries_18.csv')

In [21]:
daily['2017'].to_csv('../../data/cleaned/dayseries_17.csv')