In [2]:
import numpy as np
import pandas as pd
from itertools import islice
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [3]:
%run ../../src/acc_df.py

In [4]:
Ac = Acc_data('../../data/cleaned/coll_coord.csv')

/Users/franzmornau/g92dsi/capstone/Traffic-Accident-Hotspots-and-Patterns/src/acc_df.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X['ds']=X.ds.apply(lambda x: pd.to_datetime(x))

In [5]:
acc = Ac.get_cleaned_coll()

In [6]:
type(acc['ds'][0])

pandas._libs.tslibs.timestamps.Timestamp

#### Filter inner city
Coordinates, according to our biggest cluster in first DBSCAN:

(47.59371946525175, 47.628714348711995) latidude and
(-122.36269511161609, -122.30076933337979)

In [26]:
acc_icl = acc[(acc['latitude']>47.593) & (acc['latitude']< 47.629)]
len(acc_icl)

61590

In [27]:
acc_iclo = acc[(acc['longitude']< -122.300) & (acc['longitude']> -122.362)]
len(acc_iclo)

140622

In [28]:
acc_ic = acc_icl[(acc_icl['longitude']< -122.300) & (acc_icl['longitude']> -122.362)]

In [25]:
len(acc_ic)

57194

--------------

In [29]:
acc_ds = acc_ic[['ds','OBJECTID']]

In [30]:
acc_ds.set_index('ds', inplace=True)

In [31]:
acc_ds.head()

                     OBJECTID
ds
2018-08-09 09:58:00         7
2018-08-22 09:46:00         9
2018-08-19 02:55:00        15
2018-08-10 19:00:00        17
2018-08-27 15:12:00        23

In [32]:
acc_ds['2018-08-15']

                     OBJECTID
ds
2018-08-15 14:51:00        78
2018-08-15 17:05:00       937
2018-08-15 18:53:00       999
2018-08-15 00:00:00    197429
2018-08-15 12:09:00    198379
2018-08-15 21:00:00    203477
2018-08-15 09:52:00    204289

In [33]:
acc_ds['2004-01-05':'2004-01-11'].count()

OBJECTID    80
dtype: int64

In [34]:
weekly=acc_ds.resample('W').count()
weekly.rename({'OBJECTID': 'acc_nr'}, axis=1, inplace=True)

In [35]:
weekly['2004']

            acc_nr
ds
2004-01-04      38
2004-01-11      80
2004-01-18      84
2004-01-25      60
2004-02-01      78
2004-02-08      68
2004-02-15      74
2004-02-22      66
2004-02-29      77
2004-03-07      73
2004-03-14      75
2004-03-21      81
2004-03-28      88
2004-04-04      78
2004-04-11      58
2004-04-18      75
2004-04-25      81
2004-05-02      83
2004-05-09      84
2004-05-16      79
2004-05-23      90
2004-05-30     111
2004-06-06      86
2004-06-13      83
2004-06-20      73
2004-06-27      85
2004-07-04      73
2004-07-11      70
2004-07-18      85
2004-07-25      82
2004-08-01      76
2004-08-08      92
2004-08-15      84
2004-08-22      95
2004-08-29      92
2004-09-05      61
2004-09-12      93
2004-09-19      83
2004-09-26      69
2004-10-03      83
2004-10-10     110
2004-10-17      81
2004-10-24      73
2004-10-31      97
2004-11-07      88
2004-11-14      73
2004-11-21      84
2004-11-28      97
2004-12-05      92
2004-12-12     114
2004-12-19      92
2004-12-26      63

In [36]:
weekly.to_csv('../../data/cleaned/ic_weekseries_04_19.csv')

In [37]:
weekly['2004':'2018'].to_csv('../../data/cleaned/ic_weekseries_04_18.csv')

In [38]:
# for the option to predict the whole year 2018
weekly['2004':'2017'].to_csv('../../data/cleaned/ic_weekseries_04_17.csv')

In [39]:
# to avoid the the begin of 2004, which is biased
weekly['2005':'2018'].to_csv('../../data/cleaned/ic_weekseries_05_18.csv')

In [40]:
weekly['2019'].to_csv('../../data/cleaned/ic_weekseries_19.csv')

In [41]:
weekly['2018'].to_csv('../../data/cleaned/ic_weekseries_18.csv')

In [42]:
weekly['2017'].to_csv('../../data/cleaned/ic_weekseries_17.csv')