In [2]:
import numpy as np
import pandas as pd
from itertools import islice
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [3]:
%run ../../src/acc_df.py
Ac = Acc_data('../../data/cleaned/coll_coord.csv')
acc = Ac.get_all_coll() #['']

In [4]:
# acc.info()

In [7]:
acc['ds']=acc.INCDTTM.apply(lambda x: pd.to_datetime(x))

In [8]:
acc['time']=acc.ds.apply(lambda x: pd.to_datetime(x).time())

In [9]:
len(acc)

202130

In [18]:
acc['ds'][134]

Timestamp('2018-04-20 13:06:00')

#### Filter out 2003

In [14]:
acc_04_19_dt = acc[(acc['year'] != 2003 )]

In [26]:
acc_ds = acc_04_19_dt[['ds','OBJECTID']]

In [29]:
acc_ds.set_index('ds', inplace=True)

In [30]:
len(acc_ds)

202129

In [44]:
weekly=acc_ds.resample('W').count()
weekly.rename({'OBJECTID': 'acc_nr'}, axis=1, inplace=True)

In [45]:
weekly['2006']

            acc_nr
ds
2006-01-01     267
2006-01-08     299
2006-01-15     350
2006-01-22     281
2006-01-29     336
2006-02-05     323
2006-02-12     309
2006-02-19     294
2006-02-26     273
2006-03-05     268
2006-03-12     294
2006-03-19     262
2006-03-26     274
2006-04-02     261
2006-04-09     350
2006-04-16     301
2006-04-23     278
2006-04-30     273
2006-05-07     271
2006-05-14     251
2006-05-21     310
2006-05-28     279
2006-06-04     339
2006-06-11     286
2006-06-18     296
2006-06-25     270
2006-07-02     290
2006-07-09     280
2006-07-16     297
2006-07-23     276
2006-07-30     285
2006-08-06     285
2006-08-13     307
2006-08-20     292
2006-08-27     284
2006-09-03     279
2006-09-10     274
2006-09-17     271
2006-09-24     340
2006-10-01     288
2006-10-08     307
2006-10-15     265
2006-10-22     347
2006-10-29     286
2006-11-05     410
2006-11-12     368
2006-11-19     306
2006-11-26     285
2006-12-03     286
2006-12-10     251
2006-12-17     301
2006-12-24     292
2006-12-31     235

In [46]:
weekly.to_csv('../../data/cleaned/weekseries_04_19.csv')

In [47]:
weekly['2004':'2018'].to_csv('../../data/cleaned/weekseries_04_18.csv')

In [51]:
# for the option to predict the whole year 2018
weekly['2004':'2017'].to_csv('../../data/cleaned/weekseries_04_17.csv')

In [48]:
# to avoid the the begin of 2004, which is biased
weekly['2005':'2018'].to_csv('../../data/cleaned/weekseries_05_18.csv')

In [49]:
weekly['2019'].to_csv('../../data/cleaned/weekseries_19.csv')

In [50]:
weekly['2018'].to_csv('../../data/cleaned/weekseries_18.csv')