In [1]:
import numpy as np
import pandas as pd
from itertools import islice
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [2]:
%run ../../src/acc_df.py
Ac = Acc_data('../../data/cleaned/coll_coord.csv')
acc = Ac.get_cleaned_coll() #['']

In [3]:
# acc.info()

In [9]:
acc['ds']=acc.INCDTTM.apply(lambda x: pd.to_datetime(x))

In [10]:
acc['time']=acc.ds.apply(lambda x: pd.to_datetime(x).time())

In [11]:
import holidays
us_holidays=holidays.UnitedStates()

In [12]:
acc['is_holiday']=acc.ds.apply(lambda x: (x in us_holidays)*1)

In [13]:
acc.is_holiday.sum()

4752

In [14]:
(len(acc)/acc.is_holiday.sum())/14

3.0382545695045695

In [15]:
type(acc['ds'][134])

pandas._libs.tslibs.timestamps.Timestamp

In [8]:
acc['ds'][134]

Timestamp('2018-04-20 13:06:00')

#### Filter out 2003

In [9]:
acc_04_19_dt = acc[(acc['year'] != 2003 )]

In [10]:
acc_ds = acc_04_19_dt[['ds','OBJECTID']]

In [11]:
acc_ds.set_index('ds', inplace=True)

In [12]:
len(acc_ds)

202129

In [49]:
acc_ds['2004-01-05':'2004-01-11'].count()

OBJECTID    263
dtype: int64

In [13]:
weekly=acc_ds.resample('W').count()
weekly.rename({'OBJECTID': 'acc_nr'}, axis=1, inplace=True)

In [15]:
weekly['2004']

            acc_nr
ds
2004-01-04     142
2004-01-11     263
2004-01-18     291
2004-01-25     222
2004-02-01     277
2004-02-08     249
2004-02-15     251
2004-02-22     236
2004-02-29     265
2004-03-07     257
2004-03-14     259
2004-03-21     266
2004-03-28     302
2004-04-04     279
2004-04-11     263
2004-04-18     279
2004-04-25     293
2004-05-02     281
2004-05-09     305
2004-05-16     275
2004-05-23     280
2004-05-30     337
2004-06-06     279
2004-06-13     311
2004-06-20     266
2004-06-27     276
2004-07-04     268
2004-07-11     293
2004-07-18     276
2004-07-25     297
2004-08-01     252
2004-08-08     293
2004-08-15     292
2004-08-22     312
2004-08-29     318
2004-09-05     253
2004-09-12     276
2004-09-19     323
2004-09-26     313
2004-10-03     277
2004-10-10     371
2004-10-17     299
2004-10-24     286
2004-10-31     312
2004-11-07     324
2004-11-14     254
2004-11-21     305
2004-11-28     320
2004-12-05     317
2004-12-12     407
2004-12-19     320
2004-12-26     234

In [46]:
weekly.to_csv('../../data/cleaned/weekseries_04_19.csv')

In [47]:
weekly['2004':'2018'].to_csv('../../data/cleaned/weekseries_04_18.csv')

In [51]:
# for the option to predict the whole year 2018
weekly['2004':'2017'].to_csv('../../data/cleaned/weekseries_04_17.csv')

In [48]:
# to avoid the the begin of 2004, which is biased
weekly['2005':'2018'].to_csv('../../data/cleaned/weekseries_05_18.csv')

In [49]:
weekly['2019'].to_csv('../../data/cleaned/weekseries_19.csv')

In [50]:
weekly['2018'].to_csv('../../data/cleaned/weekseries_18.csv')