In [1]:
import numpy as np
import pandas as pd
from itertools import islice
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [18]:
%run ../../src/acc_df.py

In [ ]:
Ac = Acc_data('../../data/cleaned/coll_coord.csv')

In [4]:
acc = Ac.get_cleaned_coll()

In [13]:
type(acc['ds'][0])

str

In [5]:
# f=pd.read_csv('../../data/cleaned/coll_coord.csv', dtype={'ds':pd.Timestamp})
f=pd.read_csv('../../data/cleaned/coll_coord.csv',parse_dates=True)
type(f['ds'][134])

/Users/franzmornau/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

str

In [64]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [6]:
data['2014-07-04':'2015-07-04']

NameError: name 'data' is not defined

In [7]:
acc_ds = acc[['ds','OBJECTID']]

In [11]:
type(f['ds'][134])

str

In [8]:
acc_ds.set_index('ds', inplace=True)

In [9]:
acc_ds.head()

                    OBJECTID
ds
2018-08-15 20:00:00        1
2018-08-19 10:47:00        2
2018-08-05 13:06:00        3
2018-08-12 05:00:00        4
2018-08-15 14:27:00        5

In [10]:
acc_ds['2018-08-15']

KeyError: '2018-08-15'

In [70]:
acc_ds['2004-01-05':'2004-01-11'].count()

OBJECTID    263
dtype: int64

In [71]:
weekly=acc_ds.resample('W').count()
weekly.rename({'OBJECTID': 'acc_nr'}, axis=1, inplace=True)

In [15]:
weekly['2004']

            acc_nr
ds
2004-01-04     142
2004-01-11     263
2004-01-18     291
2004-01-25     222
2004-02-01     277
2004-02-08     249
2004-02-15     251
2004-02-22     236
2004-02-29     265
2004-03-07     257
2004-03-14     259
2004-03-21     266
2004-03-28     302
2004-04-04     279
2004-04-11     263
2004-04-18     279
2004-04-25     293
2004-05-02     281
2004-05-09     305
2004-05-16     275
2004-05-23     280
2004-05-30     337
2004-06-06     279
2004-06-13     311
2004-06-20     266
2004-06-27     276
2004-07-04     268
2004-07-11     293
2004-07-18     276
2004-07-25     297
2004-08-01     252
2004-08-08     293
2004-08-15     292
2004-08-22     312
2004-08-29     318
2004-09-05     253
2004-09-12     276
2004-09-19     323
2004-09-26     313
2004-10-03     277
2004-10-10     371
2004-10-17     299
2004-10-24     286
2004-10-31     312
2004-11-07     324
2004-11-14     254
2004-11-21     305
2004-11-28     320
2004-12-05     317
2004-12-12     407
2004-12-19     320
2004-12-26     234

In [46]:
weekly.to_csv('../../data/cleaned/weekseries_04_19.csv')

In [47]:
weekly['2004':'2018'].to_csv('../../data/cleaned/weekseries_04_18.csv')

In [51]:
# for the option to predict the whole year 2018
weekly['2004':'2017'].to_csv('../../data/cleaned/weekseries_04_17.csv')

In [48]:
# to avoid the the begin of 2004, which is biased
weekly['2005':'2018'].to_csv('../../data/cleaned/weekseries_05_18.csv')

In [49]:
weekly['2019'].to_csv('../../data/cleaned/weekseries_19.csv')

In [50]:
weekly['2018'].to_csv('../../data/cleaned/weekseries_18.csv')