In [114]:
import numpy as np
import pandas as pd
from itertools import islice
from sklearn.ensemble import GradientBoostingRegressor 
from sklearn.model_selection import train_test_split

In [115]:
%run ../src/acc_df.py

In [116]:
Ac = Acc_data('../data/cleaned/coll_coord.csv')

In [117]:
acc = Ac.get_all_coll() #['']
acc['ds']=acc.INCDTTM.apply(lambda x: pd.to_datetime(x))

In [118]:
import holidays
us_holidays=holidays.UnitedStates()
acc['holiday']=acc.ds.apply(lambda x: (x in us_holidays)*1)

#### Time series by week

In [119]:
acc_04_18 = acc[(acc['year'] != 2019) & (acc['year'] != 2003 )]
acc_w = acc_04_18[['year','week','OBJECTID']].groupby(['year','week']).count()
acc_wh = acc_04_18[['year','week','holiday']].groupby(['year','week']).max()
acc_w = acc_w.join(acc_wh)
len(acc_w)

786

Average for each week in year

In [120]:
week_numbers = acc_w.reset_index()
week_numbers.rename({'OBJECTID': 'acc_nr'}, axis=1, inplace=True)
week_numbers.head(2)

   year  week  acc_nr  holiday
0  2004     1     142        1
1  2004     2     263        0

In [121]:
week_means.iloc[3]

acc_nr    228.2
Name: 4, dtype: float64

In [122]:
week_means=week_numbers[['week','acc_nr']].groupby(['week']).mean()
week_numbers['week_mean']=week_numbers.week.apply(lambda x: week_means['acc_nr'][x])

In [123]:
# average over year
week_numbers.acc_nr.sum()/len(week_numbers)

252.49236641221373

### other data / dummies

In [124]:
week_d = pd.get_dummies(week_numbers.week).join(week_numbers)
week_d['year_red']= week_d.year.apply(lambda x: x-2004)
week_d.drop(['week','year'], axis=1, inplace=True)
# week_d['week_avg']=252.49
week_d.tail()

,1,2,3,4,5,6,7,8,9,10,...,48,49,50,51,52,53,acc_nr,holiday,week_mean,year_red
781,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,261,0,252.466667,14
782,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,274,0,256.400000,14
783,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,275,0,276.600000,14
784,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,234,0,268.133333,14
785,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,150,1,196.066667,14

In [125]:
# X=acc_ds[['year','month','week','day','weekday']]
X = week_d.drop(['acc_nr'], axis=1)
y = week_d['acc_nr']

In [137]:
X_train= X[X['year_red']<14]
X_test= X[X['year_red']==14]
y_train= y[X['year_red']<14]
y_test = y[X['year_red']==14]

In [154]:
model = GradientBoostingRegressor(learning_rate=0.001, 
                                  n_estimators=5000, #boosting stages to perform
                                  max_depth=3)
model.fit(X_train, y_train)

y_hat = model.predict(X_test)

In [155]:
model.feature_importances_

array([1.46036776e-02, 3.47670978e-03, 4.60939767e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 9.53145883e-04,
       1.36553132e-03, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       7.73500866e-04, 9.27497494e-04, 0.00000000e+00, 0.00000000e+00,
       1.11952162e-03, 9.42551067e-04, 6.14668200e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 1.30322120e-04, 0.00000000e+00, 3.62426808e-04,
       2.13635710e-03, 3.47165510e-04, 0.00000000e+00, 5.61865966e-03,
       0.00000000e+00, 9.16764894e-06, 6.97636030e-03, 1.76319188e-03,
       0.00000000e+00, 0.00000000e+00, 2.48050336e-03, 8.06171621e-04,
       3.65813853e-02, 1.90328195e-02, 3.59646290e-01, 5.38871436e-01])

In [156]:
model.score(X_train,y_train)

0.661354082440812

In [157]:
model.score(X_test,y_test)

0.1466958130514039

In [158]:
y_18 = model.predict(X_test)

array([211.29646369, 248.97849209, 204.90596566, 209.07397045,
       233.6053571 , 220.90112098, 212.56807724, 197.4873585 ,
       232.91295298, 232.82877981, 228.45069518, 212.56807724,
       235.54357582, 233.6053571 , 233.6053571 , 220.90112098,
       233.6053571 , 243.38603311, 240.47070918, 250.00653632,
       233.6053571 , 232.68785067, 250.00653632, 244.01963432,
       221.76976351, 242.01297172, 225.4545727 , 240.47070918,
       242.01297172, 248.81863646, 250.00653632, 233.6053571 ,
       239.61813085, 237.59878459, 233.6053571 , 211.29646369,
       250.00653632, 243.9036479 , 250.00653632, 256.68148611,
       248.62530928, 250.75914142, 258.62303363, 266.03768431,
       245.0873369 , 245.91068837, 223.32685023, 254.90430628,
       240.47070918, 253.69022801, 250.00653632, 185.37536652])

In [ ]:
fig, ax