In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%run ../src/acc_clusters
%run ../src/acc_df

In [3]:
Acd = Acc_data('../data/cleaned/coll_coord.csv')

In [4]:
mvc = Acd.get_pure_mv_coll()

In [40]:
mvc.groupby(['latitude','longitude']).count()[['OBJECTID']].sort_values('OBJECTID',ascending=False).head(10)

                       OBJECTID
latitude  longitude
47.708655 -122.332655       269
47.604161 -122.328079       239
47.717173 -122.344896       239
47.725034 -122.344997       225
47.579673 -122.299160       209
47.647171 -122.347294       180
47.570942 -122.351134       167
47.612990 -122.345862       142
47.613727 -122.339174       138
47.607266 -122.332451       135