In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString
import seaborn as sns

In [2]:
acc = gpd.read_file('../data/Collisions.geojson')

In [3]:
acc[acc['geometry'].notnull()].head(2)

,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,...,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR,geometry
0,1,300647,301861,E828639,Matched,Block,NaN,WEEDIN E PL NE BETWEEN WEEDIN PL NE AND 8TH AV...,,None,...,Daylight,None,None,None,10,Entering at angle,0,0,N,POINT (-122.3194826900306 47.67599681324806)
1,2,300655,301869,3626843,Matched,Block,NaN,OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW,,None,...,Daylight,None,None,None,14,From same direction - both going straight - on...,0,0,N,POINT (-122.3355699288946 47.5217841204985)

In [4]:
len(acc)

209386

In [5]:
acc.columns

Index(['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS', 'ADDRTYPE',
       'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'SEVERITYCODE',
       'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT',
       'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES', 'FATALITIES',
       'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR', 'geometry'],
      dtype='object')

In [11]:
lc = acc[acc['geometry'].notnull()].copy()

In [12]:
lc['latitude'] = lc['geometry'].bounds['miny']

In [14]:
lc['longitude'] = lc['geometry'].bounds['minx']

In [15]:
lc.head(1)

,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,...,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR,geometry,latitude,longitude
0,1,300647,301861,E828639,Matched,Block,NaN,WEEDIN E PL NE BETWEEN WEEDIN PL NE AND 8TH AV...,,None,...,None,None,10,Entering at angle,0,0,N,POINT (-122.3194826900306 47.67599681324806),47.675997,-122.319483

In [19]:
df_p = pd.DataFrame(lc.drop(['geometry'],axis=1))

In [20]:
df_p.head()

,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,...,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR,latitude,longitude
0,1,300647,301861,E828639,Matched,Block,NaN,WEEDIN E PL NE BETWEEN WEEDIN PL NE AND 8TH AV...,,None,...,None,None,None,10,Entering at angle,0,0,N,47.675997,-122.319483
1,2,300655,301869,3626843,Matched,Block,NaN,OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW,,None,...,None,None,None,14,From same direction - both going straight - on...,0,0,N,47.521784,-122.335570
2,3,300644,301858,E828638,Matched,Intersection,27031.0,TROLL AVE N AND N 36TH ST,,None,...,None,None,None,32,One parked--one moving,0,0,Y,47.650966,-122.347397
3,4,300662,301876,3705919,Matched,Intersection,29080.0,FRANKLIN AVE E AND E GALER ST,,None,...,None,None,None,32,One parked--one moving,0,0,Y,47.632256,-122.324956
4,5,300650,301864,3206769,Matched,Intersection,28403.0,24TH AVE E AND E MILLER ST,,None,...,None,None,None,14,From same direction - both going straight - on...,0,0,N,47.641718,-122.302059

In [21]:
lc['latitude'][0]

47.675996813248055

In [24]:
print('{} rows where dropped, because they had no location data.'.format((len(acc) - len(df_p))))

7256 rows where dropped, because they had no location data.

In [25]:
print('The written file has {} rows.'.format(len(df_p)))

The written file has 202130 rows.

In [26]:
df_p[df_p['latitude'].isnull()]

Empty DataFrame
Columns: [OBJECTID, INCKEY, COLDETKEY, REPORTNO, STATUS, ADDRTYPE, INTKEY, LOCATION, EXCEPTRSNCODE, EXCEPTRSNDESC, SEVERITYCODE, SEVERITYDESC, COLLISIONTYPE, PERSONCOUNT, PEDCOUNT, PEDCYLCOUNT, VEHCOUNT, INJURIES, SERIOUSINJURIES, FATALITIES, INCDATE, INCDTTM, JUNCTIONTYPE, SDOT_COLCODE, SDOT_COLDESC, INATTENTIONIND, UNDERINFL, WEATHER, ROADCOND, LIGHTCOND, PEDROWNOTGRNT, SDOTCOLNUM, SPEEDING, ST_COLCODE, ST_COLDESC, SEGLANEKEY, CROSSWALKKEY, HITPARKEDCAR, latitude, longitude]
Index: []

[0 rows x 40 columns]