In [1]:
%run ../src/geojson_to_pd

In [2]:
p1_turn_gj_to_pd('../data/Collisions.geojson', '../data/cleaned/coll_coord.csv')

7256 rows where dropped, because they had no location data.
The written file has 202130 rows.

202130

In [3]:
df = pd.read_csv('../data/cleaned/coll_coord.csv')

/Users/franzmornau/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df[df['latitude'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, OBJECTID, INCKEY, COLDETKEY, REPORTNO, STATUS, ADDRTYPE, INTKEY, LOCATION, EXCEPTRSNCODE, EXCEPTRSNDESC, SEVERITYCODE, SEVERITYDESC, COLLISIONTYPE, PERSONCOUNT, PEDCOUNT, PEDCYLCOUNT, VEHCOUNT, INJURIES, SERIOUSINJURIES, FATALITIES, INCDATE, INCDTTM, JUNCTIONTYPE, SDOT_COLCODE, SDOT_COLDESC, INATTENTIONIND, UNDERINFL, WEATHER, ROADCOND, LIGHTCOND, PEDROWNOTGRNT, SDOTCOLNUM, SPEEDING, ST_COLCODE, ST_COLDESC, SEGLANEKEY, CROSSWALKKEY, HITPARKEDCAR, longitude, latitude, year, month, week, day, hour, weekday]
Index: []

[0 rows x 47 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202130 entries, 0 to 202129
Data columns (total 47 columns):
Unnamed: 0         202130 non-null int64
OBJECTID           202130 non-null int64
INCKEY             202130 non-null int64
COLDETKEY          202130 non-null int64
REPORTNO           202130 non-null object
STATUS             202130 non-null object
ADDRTYPE           202130 non-null object
INTKEY             67263 non-null float64
LOCATION           202130 non-null object
EXCEPTRSNCODE      84141 non-null object
EXCEPTRSNDESC      7190 non-null object
SEVERITYCODE       202129 non-null object
SEVERITYDESC       202130 non-null object
COLLISIONTYPE      179243 non-null object
PERSONCOUNT        202130 non-null int64
PEDCOUNT           202130 non-null int64
PEDCYLCOUNT        202130 non-null int64
VEHCOUNT           202130 non-null int64
INJURIES           202130 non-null int64
SERIOUSINJURIES    202130 non-null int64
FATALITIES         202130 non-null int64
INCDATE            202130 non-null object
INCDTTM            202130 non-null object
JUNCTIONTYPE       194447 non-null object
SDOT_COLCODE       202129 non-null float64
SDOT_COLDESC       202129 non-null object
INATTENTIONIND     27954 non-null object
UNDERINFL          179264 non-null object
WEATHER            179093 non-null object
ROADCOND           179149 non-null object
LIGHTCOND          179006 non-null object
PEDROWNOTGRNT      4907 non-null object
SDOTCOLNUM         123111 non-null float64
SPEEDING           8795 non-null object
ST_COLCODE         193528 non-null object
ST_COLDESC         179243 non-null object
SEGLANEKEY         202130 non-null int64
CROSSWALKKEY       202130 non-null int64
HITPARKEDCAR       202130 non-null object
longitude          202130 non-null float64
latitude           202130 non-null float64
year               202130 non-null int64
month              202130 non-null int64
week               202130 non-null int64
day                202130 non-null int64
hour               202130 non-null int64
weekday            202130 non-null int64
dtypes: float64(5), int64(19), object(23)
memory usage: 72.5+ MB

In [6]:
df.head()

,Unnamed: 0,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,...,CROSSWALKKEY,HITPARKEDCAR,longitude,latitude,year,month,week,day,hour,weekday
0,0,1,300647,301861,E828639,Matched,Block,NaN,WEEDIN E PL NE BETWEEN WEEDIN PL NE AND 8TH AV...,,...,0,N,-122.319483,47.675997,2018,8,33,15,20,2
1,1,2,300655,301869,3626843,Matched,Block,NaN,OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW,,...,0,N,-122.335570,47.521784,2018,8,33,19,10,6
2,2,3,300644,301858,E828638,Matched,Intersection,27031.0,TROLL AVE N AND N 36TH ST,,...,0,Y,-122.347397,47.650966,2018,8,31,5,13,6
3,3,4,300662,301876,3705919,Matched,Intersection,29080.0,FRANKLIN AVE E AND E GALER ST,,...,0,Y,-122.324956,47.632256,2018,8,32,12,5,6
4,4,5,300650,301864,3206769,Matched,Intersection,28403.0,24TH AVE E AND E MILLER ST,,...,0,N,-122.302059,47.641718,2018,8,33,15,14,2