In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString
import seaborn as sns

In [2]:
#acc = gpd.read_file('https://opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.geojson')

In [31]:
acc = gpd.read_file('data/Collisions.geojson')

In [9]:
acc.columns

Index(['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS', 'ADDRTYPE',
       'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'SEVERITYCODE',
       'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT',
       'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES', 'FATALITIES',
       'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR', 'geometry'],
      dtype='object')

In [6]:
acc.describe()

,OBJECTID,INCKEY,COLDETKEY,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,SEGLANEKEY,CROSSWALKKEY
count,209386.00000,209386.000000,209386.000000,67595.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,2.093860e+05
mean,104693.50000,134290.410959,134445.701537,37378.148576,2.225378,0.037261,0.026745,1.729882,0.373363,0.015001,0.001624,268.957595,9.620194e+03
std,60444.67607,79976.218314,80242.240004,50871.022327,1.479952,0.199185,0.162811,0.829770,0.734583,0.158796,0.044004,3298.801650,7.164626e+04
min,1.00000,1001.000000,1001.000000,23807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,52347.25000,68633.250000,68633.250000,28648.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,104693.50000,121169.500000,121169.500000,29967.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,157039.75000,193163.750000,193243.750000,33963.000000,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00
max,209386.00000,319159.000000,320659.000000,673974.000000,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000,525241.000000,5.239700e+06

In [11]:
acc.SPEEDING.unique()

array([None, 'Y'], dtype=object)

In [12]:
acc.head()

,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,...,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR,geometry
0,1,300647,301861,E828639,Matched,Block,NaN,WEEDIN E PL NE BETWEEN WEEDIN PL NE AND 8TH AV...,,None,...,Daylight,None,None,None,10,Entering at angle,0,0,N,POINT (-122.3194826900306 47.67599681324806)
1,2,300655,301869,3626843,Matched,Block,NaN,OLSON PL SW BETWEEN 1ST AVE S AND 2ND AVE SW,,None,...,Daylight,None,None,None,14,From same direction - both going straight - on...,0,0,N,POINT (-122.3355699288946 47.5217841204985)
2,3,300644,301858,E828638,Matched,Intersection,27031.0,TROLL AVE N AND N 36TH ST,,None,...,Daylight,None,None,None,32,One parked--one moving,0,0,Y,POINT (-122.3473968315823 47.65096640309453)
3,4,300662,301876,3705919,Matched,Intersection,29080.0,FRANKLIN AVE E AND E GALER ST,,None,...,Unknown,None,None,None,32,One parked--one moving,0,0,Y,POINT (-122.3249560537502 47.63225641102942)
4,5,300650,301864,3206769,Matched,Intersection,28403.0,24TH AVE E AND E MILLER ST,,None,...,Daylight,None,None,None,14,From same direction - both going straight - on...,0,0,N,POINT (-122.3020586455341 47.64171802992309)

In [14]:
acc.EXCEPTRSNCODE.unique()

array([' ', 'NEI', None], dtype=object)

In [15]:
acc.EXCEPTRSNDESC.unique()

array([None,
       'Not Enough Information, or Insufficient Location Information'],
      dtype=object)

In [16]:
acc.INATTENTIONIND.unique()

array([None, 'Y'], dtype=object)

In [20]:
acc.geometry.head()

0    POINT (-122.3194826900306 47.67599681324806)
1     POINT (-122.3355699288946 47.5217841204985)
2    POINT (-122.3473968315823 47.65096640309453)
3    POINT (-122.3249560537502 47.63225641102942)
4    POINT (-122.3020586455341 47.64171802992309)
Name: geometry, dtype: object

In [30]:
len(list(acc.COLDETKEY.unique()))

209386