In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString
import seaborn as sns

In [3]:
#acc = gpd.read_file('https://opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.geojson')

In [4]:
acc = gpd.read_file('data/Collisions.geojson')

In [5]:
#acc.to_file('data/Collisions.json') # does not work

In [12]:
acc_pd = pd.DataFrame(acc)

In [20]:
acc_pd.describe()

,OBJECTID,INCKEY,COLDETKEY,INTKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INJURIES,SERIOUSINJURIES,FATALITIES,SEGLANEKEY,CROSSWALKKEY
count,209386.00000,209386.000000,209386.000000,67595.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,209386.000000,2.093860e+05
mean,104693.50000,134290.410959,134445.701537,37378.148576,2.225378,0.037261,0.026745,1.729882,0.373363,0.015001,0.001624,268.957595,9.620194e+03
std,60444.67607,79976.218314,80242.240004,50871.022327,1.479952,0.199185,0.162811,0.829770,0.734583,0.158796,0.044004,3298.801650,7.164626e+04
min,1.00000,1001.000000,1001.000000,23807.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,52347.25000,68633.250000,68633.250000,28648.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,104693.50000,121169.500000,121169.500000,29967.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
75%,157039.75000,193163.750000,193243.750000,33963.000000,3.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00
max,209386.00000,319159.000000,320659.000000,673974.000000,93.000000,6.000000,2.000000,15.000000,78.000000,41.000000,5.000000,525241.000000,5.239700e+06

In [19]:
acc_pd.head(1)

,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,...,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR,geometry
0,1,300647,301861,E828639,Matched,Block,NaN,WEEDIN E PL NE BETWEEN WEEDIN PL NE AND 8TH AV...,,None,...,Daylight,None,None,None,10,Entering at angle,0,0,N,POINT (-122.3194826900306 47.67599681324806)

In [18]:
acc_pd.to_csv('data/Collisions_pd.csv')

In [23]:
acc['wkt'] = pd.Series(
        map(lambda geom: str(geom.to_wkt()), acc['geometry']),
        index=acc.index, dtype='string')

TypeError: data type 'string' not understood

In [14]:
# plt.hist(list(timeline.head(500)))

In [15]:
datetimes=acc['INCDTTM']

datetimes[0]

'8/15/2018 8:00:00 PM'

In [16]:
from dateutil import parser
dt = parser.parse(datetimes[0])
print(dt)

2018-08-15 20:00:00

In [20]:
dt.year

2018

In [18]:
dt.weekday()

2

In [ ]:
acc.SPEEDING.unique()

In [ ]:
acc.head(1)

In [ ]:
acc.EXCEPTRSNCODE.unique()

In [ ]:
acc.EXCEPTRSNDESC.unique()

In [ ]:
acc.INATTENTIONIND.unique()

In [ ]:
acc.geometry.head()

In [ ]:
len(list(acc.COLDETKEY.unique()))