In [1]:
import numpy as np
import pandas as pd
from itertools import islice
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [2]:
%run ../../src/acc_df.py

In [3]:
Ac = Acc_data('../../data/cleaned/coll_coord.csv')

/Users/franzmornau/g92dsi/capstone/Traffic-Accident-Hotspots-and-Patterns/src/acc_df.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  X['ds']=X.ds.apply(lambda x: pd.to_datetime(x))

In [4]:
acc = Ac.get_cleaned_coll()

In [5]:
type(acc['ds'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
acc_ds = acc[['ds','OBJECTID']]

In [8]:
acc_ds.set_index('ds', inplace=True)

In [13]:
acc_ds.head()

                     OBJECTID
ds
2018-08-15 20:00:00         1
2018-08-19 10:47:00         2
2018-08-05 13:06:00         3
2018-08-12 05:00:00         4
2018-08-15 14:27:00         5

In [14]:
# acc_ds['2018-08-15']

In [15]:
acc_ds['2004-01-05':'2004-01-11'].count()

OBJECTID    263
dtype: int64

In [18]:
monthly=acc_ds.resample('M').count()
monthly.rename({'OBJECTID': 'acc_nr'}, axis=1, inplace=True)

In [19]:
monthly['2004']

            acc_nr
ds
2004-01-31    1168
2004-02-29    1028
2004-03-31    1191
2004-04-30    1223
2004-05-31    1284
2004-06-30    1236
2004-07-31    1241
2004-08-31    1314
2004-09-30    1233
2004-10-31    1397
2004-11-30    1289
2004-12-31    1406

In [20]:
monthly.to_csv('../../data/cleaned/monthseries_04_19.csv')

In [21]:
monthly['2004':'2018'].to_csv('../../data/cleaned/monthseries_04_18.csv')

In [22]:
# for the option to predict the whole year 2018
monthly['2004':'2017'].to_csv('../../data/cleaned/monthseries_04_17.csv')

In [23]:
# to avoid the the begin of 2004, which is biased
monthly['2005':'2018'].to_csv('../../data/cleaned/monthseries_05_18.csv')

In [24]:
monthly['2019'].to_csv('../../data/cleaned/monthseries_19.csv')

In [25]:
monthly['2018'].to_csv('../../data/cleaned/monthseries_18.csv')